In [7]:
# Define the function "say hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [8]:
# Call the function.
say_hello()

Hello!

In [9]:
# Define a function that takes in and uses a parameter
def say_something(something):
    print(something)

In [10]:
say_something("Hello World!")

Hello World!

In [11]:
# Execute function by passing in variable for parameter value
Jane_says = "Hi, my name is Jane, I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane, I'm learning Python!

In [12]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

# Import pandas.
import pandas as pd

# Convert the my_grades to a Series
my_grades_series = pd.Series(my_grades)
my_grades_series

0    B
1    C
2    B
3    D
dtype: object

In [13]:
# Change the grades by one letter grade.
my_grades_series.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# Example Using the format() function.
# Format all grades without decimals - "{:.0f}"
#   for 1 decimal place - "{:.1f}", etc...

my_grades = [92.34, 84.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
98

In [15]:
# Chaining the ma and format functions
# Convert the numerical greades to a Series.
my_grades_test2 = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades_test2

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [19]:
# Format the grades to the nearest whole number percent.
my_grades_test2.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object